<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-8 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <i class="bi bi-bootstrap"></i>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© {{ currentYear }} {{ author }}</span>
    </div>
    <ul class="col-md-4 list-unstyled">
      <li class="mb-2 d-block"><a class="text-muted" href="https://www.instagram.com/buenosairestkd/" target="_blank"><i class="bi bi-instagram"></i> @buenosairestkd</a></li>
      <li class="mb-2 d-block"><a class="text-muted" href="https://github.com/nicolassnider" target="_blank"><i class="bi bi-github"></i>/nicolassnider</a></li>
    </ul>
  </footer>

</div>
