<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/bat_logo.jpg"
        alt="Logo de Buenos Aires Tae Kwon Do"
        width="100"
        height="100"
        class="img-fluid"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-center d-none d-lg-block">
      <h1 class="header-text">
        Buenos Aires Taekwondo 태권도
      </h1>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="blog">Blog</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="calendar"
            >Calendario</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="documents"
            >Documentos</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="contact"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
    <a class="navbar-brand d-none d-lg-block" href="#">
      <img
        src="assets/img/cud_logo.png"
        alt="Logo de Club Unión Presidente Derqui"
        width="100"
        height="100"
        class="img-fluid"
      />
    </a>
  </div>
</nav>
