<div class="container mt-5">
  <h1 class="mb-4">Contacto</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Información de Contacto</h2>
      <p>
        ¡Estamos aquí para ayudarte! Si tienes alguna pregunta o comentario, no
        dudes en ponerte en contacto con nosotros.
      </p>

      <div class="row">
        <a href="{{ whatsappMessagingUrlWithMessage }}" target="_blank"
          ><i class="bi bi-whatsapp"></i> Contactar por WhatsApp</a
        >
      </div>

      <!-- Agrega aquí la información de contacto -->
    </div>

    <div class="col-md-6">
      <h2>Ubicación</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13153.528611550915!2d-58.862121212841764!3d-34.4931948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9bc374571de7%3A0x3dd2b8a313dcd005!2sClub%20Union%20Pte.%20Derqui!5e0!3m2!1ses-419!2sar!4v1692646434267!5m2!1ses-419!2sar"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>



  <!-- Agrega aquí tu código específico -->
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Formulario de Contacto</h2>
      <form>
        <!-- Agrega aquí los campos del formulario -->
      </form>
    </div>
  </div>
</div>

