<div class="parent">

  <div class="div2 border border-dark b-1">
    <h1 class="h1-responsive">Sobre los Instructores</h1>
  </div>

  <div class="div1 border border-dark b-1">
    <div class="row">
      <h1 class="h1-responsive">Sobre la escuela</h1>
    </div>
    <div class="row">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/square.png" class="d-block w-200 h-200" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/square.png" class="d-block w-200 h-200" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/square.png" class="d-block w-200 h-200" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  </div>
</div>
