.card:hover {
  border: 2px solid #007bff; /* Cambia el color y el ancho del borde según tu estilo */
  transition: border-color 0.3s ease-in-out; /* Agrega una transición suave */
}

.card-img-top:hover {
  border: 2px solid #007bff;
  transition: border-color 0.3s ease-in-out;
}
